// Define variables for your color scheme

// For example:
$red: #E94E1B;
$blue: #10355F;
$yellow: #FAB520;
$orange: #F88538;
$green: #C8D400;
$gray: #B2B2B2;
$light-gray: #F4F4F4;
$light-blue: #3D6084;
$light-yellow: #FEDA9B;
